.imagen {
    margin-right: 20px;
  }

.coral {
    background-color: coral;
   }

   .fondo-letra {
    background-color: white;
   }

.background-image {
    background-image: url('https://www.diocesisdesantander.com/wp-content/uploads/2015/10/website-background-pattern.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
  }

  .Recientes{
    background-color: coral;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    
  }

  .Titulo-noticia{
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    font-size: 60px;
  }

  .margen-arriba-abajo{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .margen-abajo{
    margin-bottom: 30px;
  }
  
  .thick {
    font-weight: bold;
  }

  .text {
    background-color: coral;
    color: white;
    font-size: 16px;
    text-align: center;
  }

  .aprobado {
    background-color: green;
    color: white;
    font-size: 16px;
    text-align: center;
  }

  .espera {
    background-color: gray;
    color: white;
    font-size: 16px;
    text-align: center;
  }

  .rechazado {
    background-color: red;
    color: white;
    font-size: 16px;
    text-align: center;
  }

  #wrapper .text{
    position:relative;
    bottom:30px;
    left:0px;
    visibility:hidden;
  }

  #wrapper:hover .text{
    visibility:visible;
  }

  .texto-centrado{
    margin-left: 46%;
  }

  #textboxid
{
    height:200px;
    font-size:14pt;
    line-height: 1.5em; 
}

.texto_derecha{
text-align: right;
}

.carrusel-tamaño {
  width: 800px;
  margin: 0 auto;
}

.texto-justificado{
  text-align: justify;
}

.coralsito{
  color: coral;
  font-size: larger;
}

.centradito{
  justify-content: center;
  text-align: center;
}

.boton-centrado{
  margin-left: 20px;
  margin-right: 20px;
}

.boton-abajo{
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 45%;
}

.justificar-derecha{
justify-content: right;
text-align: right;
}

.lista-centrado{
  margin-left: 43%;
}